<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.db.demoapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp"
        tools:targetApi="33">

        <!-- 런처 액티비티 -->
        <activity android:name="com.db.demoapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.db.demoapp.ui.ModalDemoActivity"
            android:exported="false" />
        <activity
            android:name="com.db.demoapp.ui.InfiniteScrollDemoActivity"
            android:exported="false" />
        <activity
            android:name="com.db.demoapp.ui.SkeletonDemoActivity"
            android:exported="false" />

        <!-- 예제 목록 액티비티 -->
        <activity android:name="com.db.demoapp.ui.AnimationListActivity" />

        <activity android:name="com.db.demoapp.ui.ModalUiListActivity" />
        <activity android:name="com.db.demoapp.ui.LoadingUIActivityList" />
        <activity android:name="com.db.demoapp.ui.PagingUXListActivity" />

        <activity android:name="com.db.demoapp.ui.MicroInteractionsActivityList" />
        <activity android:name="com.db.demoapp.ui.ThreeDMotionUiActivityList" />
        <activity android:name="com.db.demoapp.ui.FunLabActivityList" />


        <!-- 애니메이션 시연 액티비티 -->
        <activity android:name="com.db.demoapp.ui.microitems.SlideDownActivity" />
        <activity android:name="com.db.demoapp.ui.pagingitems.PagingAppbarTabLayoutActivity" />

        <activity android:name="com.db.demoapp.ui.pagingitems.PagingBottomActivity" />
+
        <!-- 코드 보기 액티비티_초기버전 -->
        <activity android:name="com.db.demoapp.code.SlideDownCodeActivity" />
        <!-- 코드 보기 액티비티 하이라이트 -->
        <activity android:name="com.db.demoapp.code.CodeViewActivity" />
        <!-- 코드 보기 액티비티 웹뷰 -->
        <activity android:name="com.db.demoapp.code.DynamicTabbedCodeViewActivity" />

    </application>

</manifest>
